body {
  line-height: 1.4;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
}

ol, ul {
  list-style: none;
}
h1, h2, h3, h4{
  font-family: 'Raleway', sans-serif;
  color: #2e4b94;
}
p{

font-family: 'PT Serif', serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}
#news{
  background: #efefef;
}
.news-single{
  background: #ffffff;
  min-height: 640px;
}
#news img{
  width: 100%
}
.news-single, .news-single-content{
  padding: 20px;
}
.article-title{
  color: #f56c22;
  margin-bottom: 30px;
}
/***********************************
************************************
Responsive media queries
************************************
***********************************/

#header {
  background: #000000;
  opacity: 0.8;
  min-height: 630px;
  position: relative;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

.navbar-brand {
  font-size: 36px;
  font-family: 'PT Serif', serif;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fffde0;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #f56c22;
  background-color: transparent;
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: #2e4b94; 
	}
}

.top-nav-collapse {
  padding: 0;
  background:#2e4b94; 
}

.bg-color {
  background-color: RGBA(0, 0, 0, 0.67);
  min-height: 650px;
}

.banner-text {
  border-left: 5px solid #f56c22;
  padding: 15px 40px;
  color: #fff;
  margin-top: 170px;
}

.banner-text h2, .banner-text p {
  font-size: 30px;
  font-weight: 400;
}

.overlay-detail {
  margin: 0 auto;
}

.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: -100px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;
}

#about {
  margin-bottom: -3px;
  margin-top: -23px;
  background-color: #fff;
}
.profile-img{
  text-align: center;
  }
.profile-img img{
width: 80%;
}
.tagline{
  display: block;
  text-align: center;
      color:#333;
      font-family: 'PT Serif', serif;
      font-size: 16px;
      margin-top:10px;
}
.brand{
  display: block;
  text-align: center;
      color:#808080;
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      font-style: italic;
      margin-top:10px;
}
.section-padding {
  padding: 60px 0px;
}

.title {
  font-size: 24px;
  margin-bottom: 50px;
}

.title-text {
  padding: 0px 25px 0px 0px;
  border-right: 5px solid #f56c22;;
  font-size: 24px;
}

.about-text p {
  color: #444;
}

.abt-list li {
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 400;
}

.grid-padding {
  padding: 0 8px;
}

.grid-padding img {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

#myGrid {
  margin-top: 50px;
}
#testimonials, #portfolio{
  background: #ffffff;
}

.price, .price-at{
 font-size:46px; 
 color:#f56c22;
}
.btn-custom:link, .btn-custom:hover, .btn-custom:visited{
  color:#ffffff;
  background: #2e4b94;
  font-family: 'PT Serif', serif;
}
.blockquote{
  background: #efefef;
  min-height: 250px;
  border-left: 5px solid #f56c22;
  padding: 20px;
  }
  
.test-sec span.testimonials-name {
  color: #62646f;
  font-weight: 600;
  margin: 16px 0 5px;
}
#partners{
 background: #f0f1e9;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .carousel-control {
	height: 34px;
	width: 30px;
	background: #2e4b94; 
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.8;
}
.carousel .carousel-control:hover {
	background: #2e4b94; 
	opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}
.carousel .carousel-control.left i {
	margin-left: -2px;
}
.carousel .carousel-control.right i {
	margin-right: -4px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
#contact {
  width: 100%;
  background-color: #f0f1e9;
  color:#333;
}

#contact .btn-primary {
  background: #f56c22;
  border: 1px solid #f56c22;
}
#contact .contact-details{
  font-size: 18px;

}
#contact .fas #contact h2{
 color: #f56c22;
}
.news-single-title {
  color: #333;
  font-size: 20px;
  margin-bottom:20px;
 }
 .news-single-bottom a:link, .news-single-bottom a:visited, .news-single-bottom a:hover {
  color: #f56c22; 
}
.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  background: #fff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  background: #fff;
}

#sendmessage.show, #errormessage.show, .show {
  display: block;
}

#footer {
  background: #2e4b94;
}

footer {
  padding: 40px 0;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer__navigation li, .social-list li {
  display: inline-block;
  
}

.contact-sec h2 {
  font-size: 28px;
  color: #333;
  font-weight: 600;
  padding: 15px 0px;
}

.footer__navigation li a {
  display: inline-block;
  color: #767676;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  font-size: 1.2em;
  line-height: 1.625em;
  margin-top: 0;
  margin-bottom: 1.625em;
  padding-right: 10px;
}

.contact-sec p {
  color: #333;
  font-size: 18px;
  padding: 16px 0px 24px;
}

.contact-sec i {
  padding-right: 15px;
}

.contact-sec a {
  color: #FFF;
  background-color: RGBA(174, 142, 142, 0.7);
  display: inline-block;
  padding: 16px 34px;
  font-size: 18px;
  transition: all 0.5s ease-in 0s;
}

.carousel-info, blockquote {
  float: left;
}

.social-list li {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  opacity: .5;
  display: inline-block;
  margin: 0;
}

.social-list li a {
  font-size: 28px;
  margin-right: 15px;
  color: #fff;
}

.type-underline, .type-underline:hover {
  color: #767676;
}

.footer__lower {
  margin-top: 3.25em;
}

.type--fine-print {
  color: #767676;
}

.navbar-toggle {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}

.navbar-nav>li>a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-brand {
  margin-top: 9px;
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

@media (min-width: 551px) and (max-width: 980px) {
  .title-text {
    margin-bottom: 15px;
  }
}

@media (min-width: 100px) and (max-width: 550px) {
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  .carousel-info {
    margin-bottom: 30px;
  }
  .type--fine-print {
    text-align: center;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .social-list {
    margin-bottom: 15px;
  }
  .banner-text h2, .banner-text p {
    font-size: 30px;
  }
  .title-text {
    margin-bottom: 15px;
  }
}
